@model IEnumerable<Entities.Kategori>
@{
    ViewBag.Title = "Index";
}
<div class="container m-5">
    <p>
        @Html.ActionLink("Yeni Ekle", "Ekleme", null, new { @class = "btn btn-info" })
    </p>
    <table class="table">
            <tr class="table-primary">
                <th>
                    @Html.DisplayNameFor(model => model.KategoriAdi)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tarih)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Akifmi)
                </th>
                <th></th>
            </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.KategoriAdi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tarih)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Akifmi)
                </td>
                <td>
                    @Html.ActionLink("Düzenle", "Duzenleme", new { id = item.Id }, new { @class = "btn btn-sm btn-primary" }) |
                    @Html.ActionLink("Silme", "Silme", new { id = item.Id }, new { @class = "btn btn-sm btn-danger" })

                </td>
            </tr>
        }
    </table>
</div>
